<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <title>buildr &mdash; {{ page.title }}</title>
    <style type='text/css'>
      @import 'css/default.css';
      @import 'css/syntax.css';
    </style>
    <style media='print' type='text/css'>
      @import 'css/print.css';
    </style>
    <meta content='Official Buildr documentation from the people in the know' name='subject'>
    <link href='images/favicon.png' rel='shortcut icon'>
  </head>
  <body>
    <div id='wrap'>
      <div id='header'>
        <a href='' title="The build system that doesn't suck"><img alt='DS' src='images/ds.png'></a>
        <div class='tagline'>Data Structure</div>
      </div>
      <div id='pages'>
        <ol class='toc'>
          <li>Start Here
            <ol class="toc">
              <li><a href='index.html'>Welcome</a></li>
              <li><a href='quick_start.html'>Quick Start</a></li>
              <li><a href='http://cwiki.apache.org/confluence/display/BUILDR/Index'>Community Wiki</a></li>
            </ol>
          </li>
          <li>Using Site
            <ol class="toc">
              <li><a href='buildr.pdf'>This Guide (PDF)</a></li>
              <li><a href='http://cwiki.apache.org/confluence/display/BUILDR/Buildr+HowTos'>How-Tos</a></li>
            </ol>
          </li>
          <li>Reference
            <ol class="toc">
              <li><a href='http://docs.rubyrake.org'>Rake</a></li>
              <li><a href='http://antwrap.rubyforge.org'>Antwrap</a></li>
            </ol>
          </li>
        </ol>
      </div>
      <div id='content'>
        <h1 id='{{ page.title | downcase | replace(' ', '_') }}'>{{ page.title }}</h1>
        {{ content }}
      </div>
      <div id='footer'>Copyright &copy; 2016 NWPU</div>
    </div>
  </body>
</html>
